<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>Kafka-Spark-Name-Count-Project</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Custom styling -->
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
	<!-- <nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#"><img id="logo" src="img/logo.png"></a>
		</div>
	</nav> -->

	<!-- Bootstrap grid setup -->
	<div class="container">
		<div class="row">
			<div id="chart-area"></div>
		</div>
	</div>



	<!-- External JS libraries -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- Custom JS -->

	<!-- <script src="{{ url_for('static', filename='js/update.js') }}"></script> -->

	<script>

		const MARGIN = { LEFT: 50, RIGHT: 10, TOP: 50, BOTTOM: 130 }
		const WIDTH = 800 - MARGIN.LEFT - MARGIN.RIGHT
		const HEIGHT = 400 - MARGIN.TOP - MARGIN.BOTTOM
		const barPadding = 5

		const svg = d3.select("#chart-area").append("svg")
			.attr("width", WIDTH + MARGIN.LEFT + MARGIN.RIGHT)
			.attr("height", HEIGHT + MARGIN.TOP + MARGIN.BOTTOM)
			.attr('id', 'barChartPlot');

		const g = svg.append("g")
			.attr("transform", `translate(${MARGIN.LEFT}, ${MARGIN.TOP})`)

		const gg= g.append('g')


			const x = d3.scaleBand()
			.range([0, WIDTH])
			.paddingInner(0.2)
			.paddingOuter(0.2)

			const y = d3.scaleLinear()
			.range([HEIGHT, 0])

			const xAxisGroup = g.append("g")
			.attr("class", "x axis")
			.attr("transform", `translate(0, ${HEIGHT})`)

			const yAxisGroup = g.append("g")
			.attr("class", "y axis")

	</script>

<!-- d3.js dynamic block-->
	<script>
		d3.interval(() => {

			update()	
				
		}, 5000)
	</script>

	<script>

		function update() {

			const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
			const urls = [barChartDataUrl];

			Promise.all(urls.map(url => d3.json(url))).then(dataset=>{

				data=dataset[0]

				const t = d3.transition().duration(1000)

				x.domain(data.map(d => d.key))
				y.domain([0, d3.max(data, d => d.value)])


				//data binding for rectangles- barchart	
				const rects = g.selectAll("rect")
					.data(data, d => d.key)


				console.log(x.bandwidth())

				// usage of OLD> enter,update, exit methods


				// EXIT old elements not present in new data.
				rects.exit()
					.attr("fill", "red")
					.transition(t)
					.attr("height", 0)
					.attr("y", y(0))
					.remove()

				// ENTER new elements present in new data...
				rects.enter().append("rect")
					.attr("fill", "grey")
					.attr("y", y(0))
					.attr("height", 0)
					.attr('fill','green')
					// AND UPDATE old elements present in new data.
					.merge(rects)
					.transition(t)
					.attr("x", (d) => x(d.key))
					.attr("width", x.bandwidth)
					.attr("y", d => y(d.value))
					.attr("height", d => HEIGHT - y(d.value))

				// data binding for bar top labels 
				// usage of new JOIN method

				gg.raise().selectAll('text')
				.data(data)
				.join(
					(enter) => enter.append('text')
					.attr("x", d => x(d.key))
					.attr('y', HEIGHT)
					.text(d=>d.value),
					(update) => update,
					(exit) => exit.transition(t)
					.attr('y', HEIGHT)
					.remove()
				)
				.transition(t)
				// .attr('x', d => x(d.key)+x.bandwidth()/4)
				.attr("x", d => x(d.key))
				.attr('y', d => y(d.value) -10)
				// .attr('fill','white')
				.text(d=>d.value)
				

				const xAxisCall = d3.axisBottom(x)
				xAxisGroup.transition(t).call(xAxisCall)
					.selectAll("text")
					.attr("y", "10")
					.attr("x", "-5")
					.attr("text-anchor", "end")
					.attr("transform", "rotate(-40)")

			})

		};



	</script>


</body>

</html>