<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<title>Kafka-Spark-Name-Count-Project</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Custom styling -->
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
	<!-- <nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#"><img id="logo" src="img/logo.png"></a>
		</div>
	</nav> -->

	<!-- Bootstrap grid setup -->
	<div class="container">
		<div class="row">
			<div id="chart-area"></div>
		</div>
	</div>



	<!-- External JS libraries -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- Custom JS -->
	<!-- <script src="js/main.js"></script> -->

	<!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
	<!-- <script src="{{ url_for('static', filename='js/update.js') }}"></script> -->

	<script>

		const MARGIN = { LEFT: 50, RIGHT: 10, TOP: 50, BOTTOM: 130 }
		const WIDTH = 800 - MARGIN.LEFT - MARGIN.RIGHT
		const HEIGHT = 400 - MARGIN.TOP - MARGIN.BOTTOM
		const barPadding = 5

		const svg = d3.select("#chart-area").append("svg")
			.attr("width", WIDTH + MARGIN.LEFT + MARGIN.RIGHT)
			.attr("height", HEIGHT + MARGIN.TOP + MARGIN.BOTTOM)
			.attr('id', 'barChartPlot');

		const g = svg.append("g")
			.attr("transform", `translate(${MARGIN.LEFT}, ${MARGIN.TOP})`)

		const gg= g.append('g')

		// X label
		// g.append("text")
		// 	.attr("class", "x axis-label")
		// 	.attr("x", WIDTH / 2)
		// 	.attr("y", HEIGHT + 50)
		// 	.attr("font-size", "20px")
		// 	.attr("text-anchor", "middle")
		// 	.text("Month")

		// Y label
		// g.append("text")
		// 	.attr("class", "y axis-label")
		// 	.attr("x", - (HEIGHT / 2))
		// 	.attr("y", -60)
		// 	.attr("font-size", "20px")
		// 	.attr("text-anchor", "middle")
		// 	.attr("transform", "rotate(-90)")
		// 	.text("Revenue ($)")

			const x = d3.scaleBand()
			.range([0, WIDTH])
			.paddingInner(0.2)
			.paddingOuter(0.2)

			const y = d3.scaleLinear()
			.range([HEIGHT, 0])

			const xAxisGroup = g.append("g")
			.attr("class", "x axis")
			.attr("transform", `translate(0, ${HEIGHT})`)

			const yAxisGroup = g.append("g")
			.attr("class", "y axis")




	</script>



	<script>

		// const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
		// const urls = [barChartDataUrl];

		// Promise.all(urls.map(url => d3.json(url))).then(run);

		// function run(dataset) {

		// 	data =dataset[0]
			// d3PieChart(dataset[0], dataset[1]);
			// d3BarChart(dataset[0]);
		
		// Promise.all(urls.map(url => d3.json(url))).then(dataset=>{

		// data=dataset[0]

		
		// // d3.csv("data/revenues.csv").then(data => {
		// //     data.forEach(d => {
		// //         d.revenue = Number(d.revenue)
		// //     })

		// console.log(data)

		// console.log(HEIGHT)

		// const x = d3.scaleBand()
		// 	.domain(data.map(d => d.key))
		// 	.range([0, WIDTH])
		// 	.paddingInner(0.3)
		// 	.paddingOuter(0.2)

		// const y = d3.scaleLinear()
		// 	.domain([0, d3.max(data, d => d.value)])
		// 	.range([HEIGHT, 0])

		// const xAxisCall = d3.axisBottom(x)
		// g.append("g")
		// 	.attr("class", "x axis")
		// 	.attr("transform", `translate(0, ${HEIGHT})`)
		// 	.call(xAxisCall)
		// 	.selectAll("text")
		// 	.attr("y", "10")
		// 	.attr("x", "-5")
		// 	.attr("text-anchor", "end")
		// 	.attr("transform", "rotate(-40)")

		// const yAxisCall = d3.axisLeft(y)
		// 	.ticks(3)
		// 	.tickFormat(d => d + "m")
		// g.append("g")
		// 	.attr("class", "y axis")
		// 	.call(yAxisCall)

		// const rects = g.selectAll("rect")
		// 	.data(data)

		// rects.enter().append("rect")
		// 	.attr("y", d => y(d.value))
		// 	.attr("x", (d) => x(d.key))
		// 	.attr("width", x.bandwidth)
		// 	.attr("height", d => HEIGHT - y(d.value))
		// 	// .attr("height", d => HEIGHT)
		// 	.attr("fill", "grey")
		// 	});

	</script>


	<script>
		d3.interval(() => {

			update()	
				
		}, 5000)
	</script>

	<script>

		function update() {

			const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
			const urls = [barChartDataUrl];

			// Promise.all(urls.map(url => d3.json(url))).then(run);

			// function run(dataset) {
			// 	// d3PieChart(dataset[0], dataset[1]);
			// 	updateD3BarChart(dataset[0]);
			// };
			Promise.all(urls.map(url => d3.json(url))).then(dataset=>{

				data=dataset[0]

				const t = d3.transition().duration(1000)

				x.domain(data.map(d => d.key))
				y.domain([0, d3.max(data, d => d.value)])

				// const xAxisCall = d3.axisBottom(x)
				// xAxisGroup.transition(t).call(xAxisCall)
				// 	.selectAll("text")
				// 	.attr("y", "10")
				// 	.attr("x", "-5")
				// 	.attr("text-anchor", "end")
				// 	.attr("transform", "rotate(-40)")


				// const yAxisCall = d3.axisLeft(y)
				// 	.ticks(3)
				// 	.tickFormat(d => d + "m")
				// yAxisGroup.transition(t).call(yAxisCall)

				// JOIN new data with old elements.
				const rects = g.selectAll("rect")
					.data(data, d => d.key)
					// .attr("class", "bar")

				// //Adding  barchart labels
				// g.selectAll('text')
				// 	.data(data)
				// 	.enter()
				// 	.append("text")
				// 	.text(function(d) {
				// 			return d.value;
				// 	})
				// 	.attr("text-anchor", "middle")

				// 	.attr("x", function(d, i) {
				// 			return (i * (WIDTH / d.length)) + ((WIDTH / d.length - barPadding) / 2);
				// 	})
				// 	.attr("y", function(d) {
				// 			return (yScale(d.value)); //Setting the Y axis to represent the value in the served JSON data
				// 	})
				// 	.attr("class", "yAxis");

				// rects.join('rects')
				// .attr("x", (d) => x(d.key))
				// .attr("width", x.bandwidth)
				// .attr("y", d => y(d.value))
				// .attr("height", d => HEIGHT - y(d.value))

				console.log(x.bandwidth())


				// EXIT old elements not present in new data.
				rects.exit()
					.attr("fill", "red")
					.transition(t)
					.attr("height", 0)
					.attr("y", y(0))
					.remove()

				// ENTER new elements present in new data...
				rects.enter().append("rect")
					.attr("fill", "grey")
					.attr("y", y(0))
					.attr("height", 0)
					.attr('fill','green')
					// AND UPDATE old elements present in new data.
					.merge(rects)
					.transition(t)
					.attr("x", (d) => x(d.key))
					.attr("width", x.bandwidth)
					.attr("y", d => y(d.value))
					.attr("height", d => HEIGHT - y(d.value))

				gg.raise().selectAll('text')
				.data(data)
				.join(
					(enter) => enter.append('text')
					// .attr("x", d => x(d.key)+x.bandwidth()/2)
					// .attr("x", d => x(d.key)+x.bandwidth()/4)
					.attr("x", d => x(d.key))
					.attr('y', HEIGHT)
					.text(d=>d.value),
					(update) => update,
					(exit) => exit.transition(t)
					.attr('y', HEIGHT)
					.remove()
				)
				.transition(t)
				// .attr('x', d => x(d.key)+x.bandwidth()/4)
				.attr("x", d => x(d.key))
				.attr('y', d => y(d.value) -10)
				// .attr('fill','white')
				.text(d=>d.value)
				


					// gg.selectAll('text')
					// .data(data).enter()
					// .append('text')
					// .attr("x", (d) => x(d.key))
					// .attr("y", d => y(d.value) +5)
					// .merge(gg)
					// .transition(t)
					// .attr("x", (d) => x(d.key))
					// .attr("y", d => y(d.value) +5)
					// // .style('color','blue')
					// .text(d=>d.value)

					// gg.exit()
					// .transition(t)
					// .attr("x", (d) => x(d.key))
					// .attr("y", d => y(d.value) +5)
					// .remove()
					// .join('text')
					// .join(
					// 		(enter) => enter.append('text')
					// 		.attr("x", (d) => x(d.key))
					// 		.attr("y", d => y(d.value) +5)
					// 		.text(d=>d.value),
					// 		(update) => update,
					// 		(exit) => exit.transition(t)
					// 		.attr('y', y(0))
					// 		.remove()
					// 	)
					// .transition(t)
					// // .attr("x", (d) => x(d.key))
					// // .attr("y", d => y(d.value) +5)
					// .text(d=>d.value)
					// .attr("text-anchor", "middle")

				const xAxisCall = d3.axisBottom(x)
				xAxisGroup.transition(t).call(xAxisCall)
					.selectAll("text")
					.attr("y", "10")
					.attr("x", "-5")
					.attr("text-anchor", "end")
					.attr("transform", "rotate(-40)")

			})

		};



	</script>


</body>

</html>