<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- <meta http-equiv="refresh" content="10">  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data Dashboard">
    <meta name="author" content="Aboze Brain">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Data Dashboard</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  </head>
  <body>
        <div class="about">
        <!-- <img src="{{ url_for('static', filename='logo.jpeg')}}" alt="Logrocket logo"> -->
        </div>
   
        <div class="visualization">
          <div id="barChart"></div>
        </div>
        
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateBarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    

    <!-- <script>

      var interval=setInterval(function(){
      const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
      const urls = [barChartDataUrl];

      Promise.all(urls.map(url => d3.json(url))).then(run);

      function run(dataset) {
          // d3PieChart(dataset[0], dataset[1]);
          updateBarChart(dataset[0]);
      };

        },5000);

    </script> -->

    <script>

          d3.interval(() => {

          const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
          const urls = [barChartDataUrl];

          Promise.all(urls.map(url => d3.json(url))).then(run);

          function run(dataset) {
              // d3PieChart(dataset[0], dataset[1]);
              updateBarChart(dataset[0]);
          };

          },100);

    </script>


  </body>
</html>